<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <article *ngFor="let edu of education" class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>{{edu.from_to_year}}</p>
                <div class="h5">{{edu.education}}</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h3">{{edu.institution}}</div>
                <li><span>{{edu.stream}}</span></li>
                  <ul>
                    <li *ngFor="let inf of edu.info | split">{{inf}}</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </article>
    </div>
  </div>